<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiper Slider</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <style>
        /* Optional: Customize the slider height */
        .swiper-container {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

<div id="popup-popup-image" class="popup">
    <div class="popup-content">
        <div class="popup-swiper-container swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide popup-vertical">
                    <img src="https://www.hotelakama.com/images/popup/Am2SG-summer.jpg" alt="Summer fun" class="popup-image">
                </div>
                <div class="swiper-slide popup-vertical">
                    <img src="https://www.hotelakama.com/images/popup/hosai-gyakok.jpg" alt="The monsoon with gyakok" class="popup-image">
                </div>
                <div class="swiper-slide popup-square">
                    <img src="https://www.hotelakama.com/images/popup/hW6fQ-monsoon-mania-.jpg" alt="Monsoon Mania" class="popup-image">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <button onclick="closeImagePopup()" class="close-button">&times;</button>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var videoPopup = document.getElementById('popup-popup-video');
    var imagePopup = document.getElementById('popup-popup-image');
    var videoSwiper;
    var imageSwiper;

    window.onload = function () {
        if(videoPopup){
            videoSwiper = new Swiper('#popup-popup-video .popup-swiper-container', {
                loop: true,
                autoplay: false,
                items: 1,
                navigation: {
                    nextEl: '#popup-popup-video .swiper-button-next',
                    prevEl: '#popup-popup-video .swiper-button-prev',
                },
                pagination: {
                    el: '#popup-popup-video .swiper-pagination',
                },
            });
            videoPopup.style.display = 'block';
        } else {
            openImagePopup();
        }
    }

    function closeVideoPopup() {
        videoPopup.style.display = 'none';
        openImagePopup();
    }

    function openImagePopup() {
        imagePopup.style.display = 'block';
        imageSwiper = new Swiper('#popup-popup-image .popup-swiper-container', {
            loop: true,
            autoplay: false,
            navigation: {
                nextEl: '#popup-popup-image .swiper-button-next',
                prevEl: '#popup-popup-image .swiper-button-prev',
            },
            pagination: {
                el: '#popup-popup-image .swiper-pagination',
            },
        });
    }

    function closeImagePopup() {
        imagePopup.style.display = 'none';
    }
</script>

</body>
</html>
