<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palpa District Cycling Association </title>
    <link rel="shortcut icon" href="img/favicon.png"> -->
    <jcms:site:seotitle/>
    <jcms:site:favicon/>
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/phospor-icon.css">
    <link rel="stylesheet" href="css/scrollCue.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- NAVIGATION -->
    <jcms:module:header/>
    <!-- NAVIGATION END -->

    <!-- <section id="hero" class="blog-top" style="background-image: url(../img/blog/blog-bg.jpg);">
        <div class="container blog_inner">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h1 class="hero_title" data-cue="slideInUp" data-delay="400">
                        Our Blogs
                    </h1>
                </div>
                <!-- /.col-lg-6 offset-3 --
            </div>
            <!-- /.row --
        </div>
        <!-- /.container --
        <div class="mask mask_dark"></div>
    </section> -->
    <!-- /#hero.blog-top -->

    <!-- <section class="content  bg-blob-white ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row zindex-2 position-relative" data-cues="slideInUp">
                        <div class="col-lg-4 align-self-center mb-30 col-md-12">
                            <div class="blog_listpost">
                                <div class="blog_img">
                                    <a href="blogdetail.html">
                                        <img src="img/events/event1.jpg" alt="">
                                    </a>
                                </div>
                                <!-- blog_img --

                                <div class="blog_desc">
                                    <a class="title_link" href="blogdetail.html">
                                        <h3>Heritage Ride 2081</h3>
                                    </a>
                                    <p>Under the confederation. The executive power shall be vested in one supreme court, and all such laws shall make.</p>

                                    <div class="blog_meta">
                                        <ul class="list-unstyled d-flex mb-0">
                                            <li class="d-flex align-items-center">
                                                <i class="ph-calendar-blank"></i> 02/11/2024
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="ph-book-open"></i>
                                                <a href="blogdetail.html">PDCA</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- blog_desc --
                                <!-- /.blog_meta --
                            </div>
                            <!-- /.blog_listpost --
                        </div>
                        <!-- col-lg-4 --

                        <div class="col-lg-4 align-self-center mb-30 col-md-12">
                            <div class="blog_listpost">
                                <div class="blog_img">
                                    <a href="blogdetail.html">
                                        <img src="img/events/event5.jpg" alt="">
                                    </a>
                                </div>
                                <!-- blog_img --

                                <div class="blog_desc">
                                    <a class="title_link" href="blogdetail.html">
                                        <h3>Heritage Ride 2081</h3>
                                    </a>
                                    <p>Under the confederation. The executive power shall be vested in one supreme court, and all such laws shall make.</p>

                                    <div class="blog_meta">
                                        <ul class="list-unstyled d-flex mb-0">
                                            <li class="d-flex align-items-center">
                                                <i class="ph-calendar-blank"></i> 02/11/2024
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="ph-book-open"></i>
                                                <a href="blogdetail.html">PDCA</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- blog_desc --
                                <!-- /.blog_meta --
                            </div>
                            <!-- /.blog_listpost --
                        </div>
                        <!-- col-lg-4 --

                        <div class="col-lg-4 align-self-center mb-30 col-md-12">
                            <div class="blog_listpost">
                                <div class="blog_img">
                                    <a href="blogdetail.html">
                                        <img src="img/events/event4.jpg" alt="">
                                    </a>
                                </div>
                                <!-- blog_img --

                                <div class="blog_desc">
                                    <a class="title_link" href="blogdetail.html">
                                        <h3>Heritage Ride 2081</h3>
                                    </a>
                                    <p>Under the confederation. The executive power shall be vested in one supreme court, and all such laws shall make.</p>

                                    <div class="blog_meta">
                                        <ul class="list-unstyled d-flex mb-0">
                                            <li class="d-flex align-items-center">
                                                <i class="ph-calendar-blank"></i> 02/11/2024
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="ph-book-open"></i>
                                                <a href="blogdetail.html">PDCA</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- blog_desc --
                                <!-- /.blog_meta --
                            </div>
                            <!-- /.blog_listpost --
                        </div>
                        <!-- col-lg-4 --
                    </div>
                    <!-- /.row --

                    <nav class="page_nav mb-100 mb-lg-0">
                        <ul class="page_nav_list list-unstyled">
                            <li class="page_list_item disabled"><a class="nav_page_link" href="#"><i class="ph-arrow-left"></i></a></li>
                            <li class="page_list_item active"><a class="nav_page_link" href="#">1</a></li>
                            <li class="page_list_item"><a class="nav_page_link" href="#">2</a></li>
                            <li class="page_list_item"><a class="nav_page_link" href="#">3</a></li>
                            <li class="page_list_item"><a class="nav_page_link" href="#"><i class="ph-arrow-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- col-lg-9 --
            </div>
            <!-- row --
        </div>
        <!-- container --
    </section> -->
    <jcms:module:bloglist/>
    <!-- content -->

    <!--  FOOTER START -->
    <jcms:module:footer/>
    <!-- /.content -->
    <!--  FOOTER END -->

    <div class="scrollToTopBtn"><i class="fas fa-arrow-up"></i></div>
    <!-- TESTIMONIAL END -->

    <!-- JAVASCRIPT -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/swiper-bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scrollCue.min.js"></script>
    <script src="js/slideanimation.js"></script>
    <script src="js/vanilla-counter.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/vanilla-tilt.min.js"></script>
    <script src="js/typewriter-effect.js"></script>
    <script src="js/script.js"></script>
</body>
</html>