<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palpa District Cycling Association </title>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/phospor-icon.css">
    <link rel="stylesheet" href="css/scrollCue.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- NAVIGATION -->
    <header class="header">
        <nav class="top_header mt-3 mt-lg-0">
            <div class="top_menu py-1 clearfix d-none d-lg-block">
                <div class="container d-flex justify-content-lg-between align-content-center">
                    <ul class="top_menu_list">
                        <li>
                            <i class="far fa-building"></i> Tansen, Palpa, Nepal
                        </li>
                        <li>
                            <i class="fas fa-phone-alt"></i> <a href="tel:123456789">123456789</a>
                        </li>
                        <li>
                            <i class="far fa-envelope"></i> 
                            <a href="mailto:info@palpacycling.org.np">info@palpacycling.org.np</a>
                        </li>
                    </ul>
                    <!-- /.top_menu_list -->

                    <ul class="social_top align-self-center">
                        <li>
                            <a href="#!"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-facebook"></i></a>
                        </li>
                    </ul>
                    <!-- /.social_top -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.top_menu clearfix -->

            <div class="container">
                <div class="row mx-0 nav_white">
                    <div class="col-lg-3 col-6  d-flex align-content-center">
                        <a class="logo_box align-self-center" href="index.html">
                            <img class="align-self-center" src="img/logo.jpg" alt="logo">
                        </a>
                    </div>
                    <!-- /.col-lg-4 -->

                    <div class="btn_col col-lg-9 align-content-center justify-content-end d-none  d-lg-flex">
                        <ul class="nav_menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="team.html">Members</a></li>
                            <li class="has_child">
                                <a href="#">Our Events</a>
                                <ul class="nav_menu_child">
                                    <li class="has_child"><a href="eventlist.html">Upcoming</a>
                                        <ul class="nav_menu_child">
                                            <li><a href="event.html">Heritage Ride 2082</a></li>
                                            <li><a href="event.html">Heritage Ride 2083</a></li>
                                        </ul>
                                    </li>
                                    <li class="has_child"><a href="eventlist.html">Completed</a>
                                        <ul class="nav_menu_child">
                                            <li><a href="event.html">Heritage Ride 2081</a></li>
                                            <li><a href="event.html">Heritage Ride 2081</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- /.nav_menu_child -->
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                        <a href="#" class="head_btn align-self-center">Join us</a>
                    </div>
                    <!-- /.col-lg-8 -->

                    <div class="col-6 align-content-center align-self-center justify-content-end d-flex  d-lg-none">
                        <a class="mobile_menu_btn" data-bs-toggle="offcanvas" href="#mobilemenu" role="button" aria-controls="mobilemenu">
                            <i class="fa fa-bars"></i>
                        </a>

                        <!--  offcanvas mobile menu -->
                        <div class="mobile_menu_container offcanvas offcanvas-start" tabindex="-1" data-bs-scroll="true" id="mobilemenu">
                            <div class="offcanvas-header">
                                <button class="close_mb" data-bs-dismiss="offcanvas" aria-label="Close"><i class="ph-x"></i></button>
                            </div>
                            <div class="offcanvas-body">
                                <a href="index.html" class="logo_mobile"><img src="img/logo.jpg" alt="image"></a>

                                <ul class="mobile_menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="team.html">Members</a></li>
                                    <li class="mdropdown">
                                        <a href="#">Our Events</a>
                                        <ul class="mdropdown_child">
                                            <li class="mdropdown"><a href="#">Upcoming</a>
                                                <ul class="mdropdown_child">
                                                    <li><a href="#">Heritage Ride 2082</a></li>
                                                    <li><a href="#">Heritage Ride 2083</a></li>
                                                </ul>
                                            </li>
                                            <li class="mdropdown"><a href="#">Completed</a>
                                                <ul class="mdropdown_child">
                                                    <li><a href="#">Heritage Ride 2081</a></li>
                                                    <li><a href="#">Heritage Ride 2081</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <!-- /.nav_menu_child -->
                                    </li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                                 <!-- mobile_menu -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.top-header -->

        <div class="cloned mt-2 mt-lg-3">
            <div class="container cloned_nav"></div>
        </div>
    </header>
    <!-- NAVIGATION END -->

    <section id="hero" class="about-top">
        <div class="container about_inner">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h1 class="hero_title" data-cue="slideInUp" data-delay="400">
                        Events
                    </h1>
                </div>
                <!-- /.col-lg-6 offset-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="mask mask_dark"></div>
    </section>
    <!-- /#hero.about2 -->

    <!--  EVENTS CONTENT -->
    <section id="events" class="content clearfix">
        <div class="container">
            <div class="row event_box">
                <div class="col-lg-4 align-self-center mb-30 event_outer col-md-6">
                    <div class="events_item">
                        <div class="event_top">
                            <div class="top_icon">
                                <a href="event.html">
                                    <img src="img/events/event1.jpg" alt="images">
                                </a>
                            </div>
                            <!--top_icon-->
                        </div>
                        <!--event_top-->
                        <div class="bottom_text">
                            <h3><a href="event.html">The Ultimate Tour</a></h3>
                        </div>
                        <!--bottom_text-->
                    </div>
                    <!-- /.events_item -->
                </div>
                <!-- col-lg-4 -->

                <div class="col-lg-4 align-self-center mb-30 event_outer col-md-6">
                    <div class="events_item">
                        <div class="event_top">
                            <div class="top_icon">
                                <a href="event.html">
                                    <img src="img/events/event2.jpg" alt="images">
                                </a>
                            </div>
                            <!--top_icon-->
                        </div>
                        <!--event_top-->
                        <div class="bottom_text">
                            <h3><a href="event.html">The Ultimate Tour</a></h3>
                        </div>
                        <!--bottom_text-->
                    </div>
                    <!-- /.events_item -->
                </div>
                <!-- col-lg-4 -->

                <div class="col-lg-4 align-self-center mb-30 event_outer col-md-6">
                    <div class="events_item">
                        <div class="event_top">
                            <div class="top_icon">
                                <a href="event.html">
                                    <img src="img/events/event3.jpg" alt="images">
                                </a>
                            </div>
                            <!--top_icon-->
                        </div>
                        <!--event_top-->
                        <div class="bottom_text">
                            <h3><a href="event.html">City Chanpionship</a></h3>
                        </div>
                        <!--bottom_text-->
                    </div>
                    <!-- /.events_item -->
                </div>
                <!-- col-lg-4 -->
            </div>
            <!-- /.row event_box -->
        </div>
        <!---container-->
    </section>

    <!--  FOOTER START -->
    <section class="dark-bg footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-30 mb-lg-0">
                    <h3>Palpa Cycling Association</h3>
                    <p> With a mission to improve lives through bicycling we teach the joys of bicycling - advocate for safe places to ride.</p>
                    <ul class="footer_address">
                        <li><i class="fa fa-home"></i> Tansen, Palpa</li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:info@palpacycling.org.np">info@palpacycling.org.np</a></li>
                    </ul>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3 footer_column mb-30 mb-lg-0">
                    <h3>Upcoming Event</h3>
                    <ul>
                        <li><a href="#">The Ultimate Tour</a></li>
                        <li><a href="#">Race on Road Challange</a></li>
                        <li><a href="#">City Championship</a></li>
                        <li><a href="#">Special Max Classic</a></li>
                    </ul>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3 footer_column mb-30 mb-lg-0">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our News</a></li>
                        <li><a href="#">Events & Schedule</a></li>
                        <li><a href="#">Contact Today</a></li>
                    </ul>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3 footer_column mb-lg-0">
                    <h3>Gallery</h3>
                    <div class="rdn_gallery">
                        <div class="gallery_inner">
                            <a href="img/background/1.jpg" data-gallery="gallery" data-width="90%" data-title="Enjoy the ride."
                                data-description="Riders from all over country have registered for the inaugural event.">
                                <img src="img/background/1.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                        <div class="gallery_inner">
                            <a href="img/background/2.jpg" data-gallery="gallery" data-width="90%">
                                <img src="img/background/2.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                        <div class="gallery_inner">
                            <a href="img/background/3.jpg" data-gallery="gallery" data-width="90%">
                                <img src="img/background/3.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                        <div class="gallery_inner">
                            <a href="img/background/4.jpg" data-gallery="gallery" data-width="90%">
                                <img src="img/background/4.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                        <div class="gallery_inner">
                            <a href="img/background/5.jpg" data-gallery="gallery" data-width="90%">
                                <img src="img/background/5.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                        <div class="gallery_inner">
                            <a href="img/background/6.jpg" data-gallery="gallery" data-width="90%">
                                <img src="img/background/6.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-3 -->
            </div>
            <!-- /.row -->
            <div class="divider_footer"></div>
            <p>© Copyright 2025 Palpa District Cycling Association. All Rights Reserved. Website by Longtail e-media</p>
        </div>
        <!-- /.container -->
    </section>
    <!-- /.content -->
    <!--  FOOTER END -->

    <div class="scrollToTopBtn"><i class="fas fa-arrow-up"></i></div>
    <!-- TESTIMONIAL END -->

    <!-- JAVASCRIPT -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/swiper-bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scrollCue.min.js"></script>
    <script src="js/slideanimation.js"></script>
    <script src="js/vanilla-counter.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/vanilla-tilt.min.js"></script>
    <script src="js/typewriter-effect.js"></script>
    <script src="js/script.js"></script>
</body>
</html>