<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palpa District Cycling Association </title> -->
    <jcms:site:seotitle/>
    <jcms:site:favicon/>
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/phospor-icon.css">
    <link rel="stylesheet" href="css/scrollCue.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- NAVIGATION -->
    <jcms:module:header/>
    <!-- NAVIGATION END -->

    <!-- <section id="hero" class="about-top" style="background-image: url(../img/background/about.jpg);">
        <div class="container about_inner">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h1 class="hero_title" data-cue="slideInUp" data-delay="400">
                        Gallery
                    </h1>
                </div>
                <!-- /.col-lg-6 offset-3 --
            </div>
            <!-- /.row --
        </div>
        <!-- /.container --
        <div class="mask mask_dark"></div>
    </section> -->
    <jcms:module:gallery-bread/>
    <!-- /#hero.about2 -->

    <section id="events" class="content about clearfix">
        <div class="container">
            <ul class="event_filter">
                <!-- <li><a class="is_active" href="#!" data-filter="*">All</a></li>
                <li><a href="#!" data-filter=".special">Event 2022</a></li>
                <li><a href="#!" data-filter=".charity">Event 2023</a></li>
                <li><a href="#!" data-filter=".mountainbike">Event 2024</a></li> -->
                <jcms:module:gallery-nav/>
            </ul>

            <div class="row event_box rdn_blog_gallery">
                <!-- <div class="col-lg-4 gallery_inner align-self-center mb-30 event_outer col-md-6 special">
                    <a href="img/blog/blog1.jpg" data-gallery="bgallery" data-width="90%">
                        <img src="img/blog/blog1.jpg" class="gallery_popup" alt="gallery" />
                    </a>
                </div>

                <div class="col-lg-4 gallery_inner  align-self-center mb-30 event_outer col-md-6 special">
                    <a href="img/blog/blog2.jpg" data-gallery="bgallery" data-width="90%">
                        <img src="img/blog/blog2.jpg" class="gallery_popup" alt="gallery" />
                    </a>
                    <!-- /.events_item --
                </div>
                <!-- col-lg-4 --

                <div class="col-lg-4 gallery_inner align-self-center mb-30 event_outer col-md-6 charity mountainbike">
                    <a href="img/blog/blog3.jpg" data-gallery="bgallery" data-width="90%">
                        <img src="img/blog/blog3.jpg" class="gallery_popup" alt="gallery" />
                    </a>
                    <!-- /.events_item --
                </div>
                <!-- col-lg-4 --

                <div class="col-lg-4 gallery_inner align-self-center mb-30 event_outer col-md-6 charity special">
                    <a href="img/blog/blog4.jpg" data-gallery="bgallery" data-width="90%">
                        <img src="img/blog/blog4.jpg" class="gallery_popup" alt="gallery" />
                    </a>
                    <!-- /.events_item --
                </div>
                <!-- col-lg-4 --

                <div class="col-lg-4 gallery_inner align-self-center mb-30 event_outer col-md-6 mountainbike">
                    <a href="img/blog/blog5.jpg" data-gallery="bgallery" data-width="90%">
                        <img src="img/blog/blog5.jpg" class="gallery_popup" alt="gallery" />
                    </a>
                    <!-- /.events_item --
                </div>
                <!-- col-lg-4 --

                <div class="col-lg-4 gallery_inner align-self-center mb-30 event_outer col-md-6 special mountainbike">
                    <a href="img/blog/blog6.jpg" data-gallery="bgallery" data-width="90%">
                        <img src="img/blog/blog6.jpg" class="gallery_popup" alt="gallery" />
                    </a>
                    <!-- /.events_item --
                </div> -->
                <jcms:module:gallery-list/>
                <!-- col-lg-4 -->
            </div>
            <!-- /.row event_box -->
        </div>
        <!---container-->
    </section>

    <!--  FOOTER START -->
    <jcms:module:footer/>
    <!-- /.content -->
    <!--  FOOTER END -->

    <div class="scrollToTopBtn"><i class="fas fa-arrow-up"></i></div>
    <!-- TESTIMONIAL END -->

    <!-- JAVASCRIPT -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/swiper-bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scrollCue.min.js"></script>
    <script src="js/slideanimation.js"></script>
    <script src="js/vanilla-counter.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/vanilla-tilt.min.js"></script>
    <script src="js/typewriter-effect.js"></script>
    <script src="js/script.js"></script>
</body>
</html>