<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palpa District Cycling Association </title> -->
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->
     <jcms:site:seotitle/>
     <jcms:site:favicon/>
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/phospor-icon.css">
    <link rel="stylesheet" href="css/scrollCue.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- NAVIGATION -->
    <header>
    
        <!-- Main Header Section -->
        <div class="main-header" id="mainHeader">
            <div class="d-flex justify-content-between align-items-center flag-icons">
                <img class="flag-icons" src="img/Flag.png" alt="Left Flag">

                <div class="d-flex flex-column">
                    <p class="slogan">‘ नमो तस्स लोक हिताय नाथगतस्स ’</p>
                    <h1 class="m-0">भोजपुर टक्सार शाक्य समाज<br>BHOJPUR TAKSAR SHAKYA SAMAJ</h1>
                    <p>Lalitpur, Nepal</p>
                </div>
                
                
                <img class="flag-icons" src="img/Flag.png" alt="Right Flag">
            </div>
            
        </div>
    
        <!-- Main Navigation -->
        <nav class="navbar navbar-expand-lg bg-white py-3" id="mainNavbar">
            <div class="container justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item px-3"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">About Us</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">Members</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">Events</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">Notices</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">Gallery</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    
        <!-- Sticky Navbar (on scroll) -->
        <nav class="navbar navbar-expand-lg sticky-navbar" id="stickyNavbar">
            <div class="container justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item px-3"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">About Us</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">Members</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">Events</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">Notices</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">Gallery</a></li>
                    <li class="nav-item px-3"><a class="nav-link" href="#">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- <jcms:module:header/> -->
    <!-- NAVIGATION END -->

    <!-- PARALLAX SLIDER -->
    <section class="home-slider clearfix">
        <div class="para_slider rdn_slider" data-scroll>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide_inner" data-swiper-parallax-x="90%">
                        <div class="mask"></div>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/BRP_Lumbini_Mayadevi_temple.jpg" alt="" class="slide_bg">
                        <div class="slide_content container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1>We are the best cycling club in town.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./swiper-slide  -->
                <div class="swiper-slide">
                    <div class="slide_inner" data-swiper-parallax-x="90%">
                        <div class="mask"></div>
                        <img src="https://cdn.elebase.io/173fe953-8a63-4a8a-8ca3-1bacb56d78a5/69437207-3eae-4909-88f9-e7bde4965643-lumbini-cover.jpg?q=90" alt="" class="slide_bg">
                        <div class="slide_content container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1>We are the best cycling club in town.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./swiper-slide -->
            </div>
            <div class="swiper-nav-btn">
                <i class="prev_swiper fas fa-chevron-left"></i>
                <i class="next_swiper fas fa-chevron-right"></i>
            </div>
        </div>
    </section>
    <!-- <jcms:module:slideshow/> -->
    <!-- PARALLAX SLIDER END -->

    <!-- ABOUT START -->
    <section id="about" class="content about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 position-relative">
                    <div class="row left_img">
                        <div class="col-12 crop_box mb-30 mb-lg-0 zindex-2" data-cues="slideInUp">
                            <img class="mb-30 img_high" src="https://i0.wp.com/www.thedailybuddha.com/wp-content/uploads/2021/10/BUDDHIST-TYPES.jpg?resize=640%2C480&ssl=1" alt="image">
                        </div>
                        
                        <div class="bg_dotted_img d-none d-lg-block"></div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-lg-5 -->

                <div class="col-lg-6 offset-lg-1">
                    <p class="rdn_subtext">About Us</p>
                    <h2 class="rdn_title">Namaste From Bhojpur Taksar Shakya Samaj</h2>
                    <p>Welcome to the website of Bhojpur Taksar Shakya Samaj. We are blessed to have a community of monks, nuns, novices, and
                    supporters who have dedicated their lives to the practice and teachings of Buddhism.
                    Throughout the year, we host a variety of events, retreats, and workshops designed to deepen your understanding of
                    Buddhism and mindfulness. Central to our practice is Buddhist meditation. We believe that the stillness of the mind is
                    the gateway to understanding oneself and the universe. Whether you are a seasoned meditator or just beginning your
                    journey, we offer instruction and space for your practice. Check our calendar for upcoming opportunities to join our
                    community.
                    Join our community and start a journey of self-discovery and enrichment. May your path lead you to a profound sense of
                    peace, happiness, and Nibbana.</p>
                    
                    <!-- /.row -->
                </div>
            </div>
            <!-- <jcms:module:home-article/> -->
            <!-- /.row -->
        </div>
    </section>
    <!-- ABOUT END -->

    <section id="services" class="content bg-blob-white">
        <div class="container">
            <div class="row mb-60">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <p class="rdn_subtext" data-cue="slideInUp">Key Activities</p>
                    <h2 class="rdn_title mb-0" data-cue="slideInUp" data-delay="400">
                        We are able to offer a personable service if you prefer to ride for your own group.
                    </h2>
                </div>
                <!-- /.col-lg-8 offset-lg-2 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-3 col-md-6 mb-30">
                    <div class="service_box">
                        <div class="sv_inner">
                            <div class="sv_top">
                                <i class="ph-medal"></i>
                                <div class="sv_top_head position-relative zindex-2">
                                    <h3>Cycling Events</h3>
                                </div>
                                <!-- /.sv_top_head -->
                            </div>
                            <!-- /.sv_top -->

                            <p class="desc_text position-relative zindex-2 mb-0">
                                We organize regular cycling tours, races, and community rides to encourage participation from all age groups.
                            </p>
                            <i class="ph-package-fill sv_bg"></i>
                        </div>
                        <!-- /.sv_inner -->
                    </div>
                    <!-- /.service_box -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3 col-md-6  mb-30">
                    <div class="service_box">
                        <div class="sv_inner">
                            <div class="sv_top">
                                <i class="ph-medal"></i>
                                <div class="sv_top_head position-relative zindex-2">
                                    <h3>Training Programs</h3>
                                </div>
                                <!-- /.sv_top_head -->
                            </div>
                            <!-- /.sv_top -->
                            <p class="desc_text position-relative zindex-2 mb-0">
                                Offering training sessions for beginners and advanced cyclists to improve their skills and knowledge.
                            </p>
                            <i class="ph-chart-bar-fill sv_bg"></i>
                        </div>
                        <!-- /.sv_inner -->
                    </div>
                    <!-- /.service_box -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3 col-md-6  mb-30">
                    <div class="service_box">
                        <div class="sv_inner">
                            <div class="sv_top">
                                <i class="ph-medal"></i>
                                <div class="sv_top_head position-relative zindex-2">
                                    <h3>Community Engagement</h3>
                                </div>
                                <!-- /.sv_top_head -->
                            </div>
                            <!-- /.sv_top -->
                            <p class="desc_text position-relative zindex-2 mb-0">
                                Collaborating with local schools, businesses, and organizations to promote cycling and its benefits.
                            </p>
                            <i class="ph-chart-bar-fill sv_bg"></i>
                        </div>
                        <!-- /.sv_inner -->
                    </div>
                    <!-- /.service_box -->
                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-3 col-md-6  mb-30">
                    <div class="service_box">
                        <div class="sv_inner">
                            <div class="sv_top">
                                <i class="ph-medal"></i>
                                <div class="sv_top_head position-relative zindex-2">
                                    <h3>Tourism Promotion</h3>
                                </div>
                                <!-- /.sv_top_head -->
                            </div>
                            <!-- /.sv_top -->
                            <p class="desc_text position-relative zindex-2 mb-0">
                                Highlighting the beautiful landscapes and historical sites of Palpa through organized cycling tours.
                            </p>
                            <i class="ph-chart-bar-fill sv_bg"></i>
                        </div>
                        <!-- /.sv_inner -->
                    </div>
                    <!-- /.service_box -->
                </div>
                <!-- /.col-lg-3 -->
                 <!-- <jcms:module:home-service-list/> -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Notices CONTENT -->
     <section id="testimonial" class="blue-bg testimonial_box content d-none hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <p class="rdn_subtext" data-cue="slideInUp" style="color:#fff;">Information</p>
                    <h2 class="rdn_title mb-lg-0">Our Latest Notices</h2>
                </div>
                <div class="col-lg-5">
                    <ul class="rdn_list">
                        <li><a href="#">Can Cycling Cause Skin Cancer?</a></li>
                        <li><a href="#">USA Cycling Announces 2025 Cyclocross World Championships Team</a></li>
                        <li><a href="#">How To Watch the 2025 UCI Cyclocross World Championships</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="rdn_list">
                        <li><a href="#">Can Cycling Cause Skin Cancer?</a></li>
                        <li><a href="#">USA Cycling Announces 2025 Cyclocross World Championships Team</a></li>
                        <li><a href="#">How To Watch the 2025 UCI Cyclocross World Championships</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
    <!-- <jcms:module:notice/> -->
    <!-- /.content -->

    <!-- Team Member  -->
    <div class="container py-5">
        <div class="title">भोजपुर टक्सार शाख्य समाज परिवार</div>
      
        <div class="row justify-content-center mb-4">
          <!-- Top Row (5 Cards) -->
          <div class="col-6 col-sm-4 col-md-2">
            <div class="member-card outlined">
              <div class="member-icon">👤</div>
              <div class="member-name">विनम शाक्य</div>
              <div>अध्यक्ष</div>
              <div>९८४३७५९८३६</div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <div class="member-card">
              <div class="member-icon">👤</div>
              <div class="member-name">विनम शाक्य</div>
              <div>अध्यक्ष</div>
              <div>९८४३७५९८३६</div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <div class="member-card">
              <div class="member-icon">👤</div>
              <div class="member-name">विनम शाक्य</div>
              <div>अध्यक्ष</div>
              <div>९८४३७५९८३६</div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <div class="member-card">
              <div class="member-icon">👤</div>
              <div class="member-name">विनम शाक्य</div>
              <div>अध्यक्ष</div>
              <div>९८४३७५९८३६</div>
            </div>
          </div>
        </div>
      
        <div class="row justify-content-center">
          <!-- Bottom Row (5 Cards) -->
          <div class="col-6 col-sm-4 col-md-2">
            <div class="member-card">
              <div class="member-icon">👤</div>
              <div class="member-name">विनम शाक्य</div>
              <div>अध्यक्ष</div>
              <div>९८४३७५९८३६</div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <div class="member-card">
              <div class="member-icon">👤</div>
              <div class="member-name">विनम शाक्य</div>
              <div>अध्यक्ष</div>
              <div>९८४३७५९८३६</div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <div class="member-card">
              <div class="member-icon">👤</div>
              <div class="member-name">विनम शाक्य</div>
              <div>अध्यक्ष</div>
              <div>९८४३७५९८३६</div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <div class="member-card">
              <div class="member-icon">👤</div>
              <div class="member-name">विनम शाक्य</div>
              <div>अध्यक्ष</div>
              <div>९८४३७५९८३६</div>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <div class="member-card">
              <div class="member-icon">👤</div>
              <div class="member-name">विनम शाक्य</div>
              <div>अध्यक्ष</div>
              <div>९८४३७५९८३६</div>
            </div>
          </div>
        </div>
      </div>

    <!-- EVENTS START -->
    <section id="events" class="events_slide content gray-bg">
        <div class="container">
            <div class="row mb-60">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <p class="rdn_subtext" data-cue="slideInUp">Come and join today</p>
                    <h2 class="rdn_title mb-0" data-cue="slideInUp" data-delay="400">
                        Here is our newest upcoming event in your town.
                    </h2>
                </div>
                <!-- /.col-lg-8 offset-lg-2 -->
            </div>
            <!-- /.row -->

            <div class="eventslide_box">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="event_outer">
                            <div class="events_item">
                                <div class="event_inner">
                                    <img src="img/events/event5.jpg" alt="images">
                                    <div class="bottom_text">
                                        <span class="event-tag">upcoming</span>
                                        <p>Social Event</p>
                                        <h3>Heritage Ride-2081</h3>
                                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                                    </div>
                                    <!--bottom_text-->
                                    <div class="mask  mask_primary"></div>
                                </div>
                                <!-- event_top-->
                            </div>
                            <!-- /.events_item -->
                        </div>
                        <!-- /.event_outer -->
                    </div>
                    <!-- swiper-slide -->

                    <div class="swiper-slide">
                        <div class="event_outer">
                            <div class="events_item">
                                <div class="event_inner">
                                    <img src="img/events/event1.jpg" alt="images">
                                    <div class="bottom_text">
                                        <p>Charity</p>
                                        <h3>Heritage Ride-2081</h3>
                                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                                    </div>
                                    <!--bottom_text-->
                                    <div class="mask  mask_primary"></div>
                                </div>
                                <!--event_top-->
                            </div>
                            <!-- /.events_item -->
                        </div>
                        <!-- /.event_outer -->
                    </div>
                    <!-- swiper-slide -->

                    <div class="swiper-slide">
                        <div class="event_outer">
                            <div class="events_item">
                                <div class="event_inner">
                                    <img src="img/events/event3.jpg" alt="images">
                                    <div class="bottom_text">
                                        <p>Special Event</p>
                                        <h3>City Championship</h3>
                                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                                    </div>
                                    <!--bottom_text-->
                                    <div class="mask mask_primary"></div>
                                </div>
                                <!--event_top-->
                            </div>
                            <!-- /.events_item -->
                        </div>
                        <!-- /.event_outer -->
                    </div>
                    <!-- swiper-slide -->

                    <div class="swiper-slide">
                        <div class="event_outer">
                            <div class="events_item">
                                <div class="event_inner">
                                    <img src="img/events/event5.jpg" alt="images">

                                    <div class="bottom_text">
                                        <p>Special Event</p>
                                        <h3>Senior Metro Road</h3>
                                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                                    </div>
                                    <!--bottom_text-->
                                    <div class="mask mask_primary"></div>
                                </div>
                                <!--event_top-->
                            </div>
                            <!-- /.events_item -->
                        </div>
                        <!-- /.event_outer -->
                    </div>
                    <!-- swiper-slide -->
                </div>
                <!--swiper-wrapper-->
            </div>
            <!-- /.eventslide_box -->
        </div>
        <!-- /.container -->
        <div class="circle circle_left" data-cue="slideInLeft"></div>
    </section>
    <!-- <jcms:module:home-events/> -->
    <!-- EVENTS END -->

    <!-- Notices CONTENT -->
    <section id="testimonial" class="blue-bg testimonial_box d-none hide">
        <div class="container">
            <div class=" row justify-content-center align-middle align-items-center">
                <div class="col-lg-6">
                    <p class="rdn_subtext" data-cue="slideInUp" style="color:#fff;">Join Our Associations</p>
                    <h2 class="text-white rdn_title mb-lg-0">Let's ride together and follow our club event.</h2>
                    <!-- <a href="#" class="rdn_btn mt-3">Join today</a> -->
                     <jcms:module:jointoday/>
                </div>
                <div class="col-lg-6 testi_right">
                    <img src="img/team/founder.png" alt="image" data-cue="slideInUp">
                    <div class="white_box" data-cue="slideInLeft" data-delay="400"></div>
                </div>
            </div>
            <div class="testi_inner d-none">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="testi_outer">
                            <h2 class="rdn_title" data-cue="slideInUp" data-delay="200">Our Notices</h2>

                            <div class="testi_slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testi_item">
                                            <h4 style="color: #fff;margin-bottom: 9px;">JOIN THE 2025 CYCLE TOUR OR OUR BICYCLE TEAM!</h4>

                                            <p>Successfully organized the annual Heritage Ride, attracting over 150 cyclists from across the country.</p>
                                        </div>
                                    </div>
                                    <!-- /.swiper-slide -->

                                    <div class="swiper-slide">
                                        <div class="testi_item">
                                            <h4 style="color: #fff;margin-bottom: 9px;">JOIN THE 2025 CYCLE TOUR OR OUR BICYCLE TEAM!</h4>

                                            <p>Successfully organized the annual Heritage Ride, attracting over 150 cyclists from across the country.</p>
                                        </div>
                                    </div>
                                    <!-- /.swiper-slide -->

                                    <div class="swiper-slide">
                                        <div class="testi_item">
                                            <h4 style="color: #fff;margin-bottom: 9px;">Partnered with local authorities</h4>

                                            <p>Partnered with local authorities to improve cycling infrastructure in the district.</p>
                                        </div>
                                    </div>
                                    <!-- /.swiper-slide -->
                                </div>
                            </div>
                            <!-- /.testi_slider-->

                            <div class="swiper_testi_btn">
                                <i class="prev_testi fas fa-chevron-left"></i>
                                <i class="next_testi fas fa-chevron-right"></i>
                            </div>
                        </div>
                        <!-- /.testi_outer -->
                    </div>
                    <!-- /.col-lg-6 -->


                    <div class="col-lg-6 testi_right">
                        <img src="img/team/founder.png" alt="image" data-cue="slideInUp">
                        <div class="white_box" data-cue="slideInLeft" data-delay="400"></div>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
            </div>
            <!-- /.testi_slider -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.content -->

    <section class="gray-bg content ">
        <div class="container">
            <div class="row align-items-center mb-60">
                <div class="col-lg-5">
                    <p class="rdn_subtext" data-cue="slideInUp">Blog & News</p>
                    <h2 class="rdn_title mb-30 m-lg-0">
                        What's new update
                    </h2>
                </div>
                <!-- /.col-lg-5 -->
                <div class="col-lg-6 d-flex offset-lg-1 justify-content-lg-end">
                    <a href="blog" class="rdn_btn dark_hover_btn">View More</a>
                </div>
            </div>
            <!-- /.row -->

            <div class="row zindex-2 position-relative" data-cues="slideInUp">
                <div class="col-lg-4 align-self-center mb-30 col-md-12">
                    <div class="blog_listpost">
                        <div class="blog_img">
                            <a href="#">
                                <img src="img/events/event1.jpg" alt="">
                            </a>
                        </div>
                        <!-- blog_img-->

                        <div class="blog_desc">
                            <a class="title_link" href="blogdetail.html">
                                <h3>Heritage Ride 2081</h3>
                            </a>
                            <p>Under the confederation. The executive power shall be vested in one supreme court, and all such laws shall make.</p>

                            <div class="blog_meta">
                                <ul class="list-unstyled d-flex mb-0">
                                    <li class="d-flex align-items-center">
                                        <i class="ph-calendar-blank"></i> 02/11/2024
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="ph-book-open"></i>
                                        <a href="blogdetail.html">PDCA</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- blog_desc-->
                        <!-- /.blog_meta -->
                    </div>
                    <!-- /.blog_listpost -->
                </div>
                <!-- col-lg-4 -->

                <div class="col-lg-4 align-self-center mb-30 col-md-12">
                    <div class="blog_listpost">
                        <div class="blog_img">
                            <a href="#">
                                <img src="img/events/event5.jpg" alt="">
                            </a>
                        </div>
                        <!-- blog_img -->

                        <div class="blog_desc">
                            <a class="title_link" href="blogdetail.html">
                                <h3>Heritage Ride 2081</h3>
                            </a>
                            <p>Under the confederation. The executive power shall be vested in one supreme court, and all such laws shall make.</p>

                            <div class="blog_meta">
                                <ul class="list-unstyled d-flex mb-0">
                                    <li class="d-flex align-items-center">
                                        <i class="ph-calendar-blank"></i> 02/11/2024
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="ph-book-open"></i>
                                        <a href="blogdetail.html">PDCA</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- blog_desc -->
                        <!-- /.blog_meta -->
                    </div>
                    <!-- /.blog_listpost -->
                </div>
                <!-- col-lg-4 -->

                <div class="col-lg-4 align-self-center mb-30 col-md-12">
                    <div class="blog_listpost">
                        <div class="blog_img">
                            <a href="#">
                                <img src="img/events/event4.jpg" alt="">
                            </a>
                        </div>
                        <!-- blog_img -->

                        <div class="blog_desc">
                            <a class="title_link" href="blogdetail.html">
                                <h3>Heritage Ride 2081</h3>
                            </a>
                            <p>Under the confederation. The executive power shall be vested in one supreme court, and all such laws shall make.</p>

                            <div class="blog_meta">
                                <ul class="list-unstyled d-flex mb-0">
                                    <li class="d-flex align-items-center">
                                        <i class="ph-calendar-blank"></i> 02/11/2024
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <i class="ph-book-open"></i>
                                        <a href="blogdetail.html">PDCA</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- blog_desc -->
                        <!-- /.blog_meta -->
                    </div>
                    <!-- /.blog_listpost -->
                </div>
                <!-- col-lg-4 -->
            </div>
            <!-- /.row -->
             <!-- <jcms:module:homebloglist/> -->
        </div>
        <!-- /.container -->
    </section>

    <!--  EVENTS CONTENT -->
    <section id="events" class="content clearfix d-none hide">
        <div class="container">
            <div class="row client_box">
                <div class="col-lg-3 align-self-center text-lg-start text-center mb-60 mb-lg-0">
                    <p>Partner & sponsor.</p>
                    <h3>Support our brands.</h3>
                </div>

                <div class="col-lg-9">
                    <div class="client_slider swiper-container">
                        <div class="swiper-wrapper">
                            <jcms:module:support-brand/>
                        </div>
                        <!-- swiper-wrapper -->
                    </div>
                    <!-- client_slider -->
                </div>
                <!--  col-lg-9 -->
            </div>
            <!--client_box-->
        </div>
        <!---container-->
    </section>
    <!--  EVENTS CONTENT END -->

    <!-- Supporter Content -->
    <div class="container py-5">
        <h3 class="supporters-title">Our Supporters</h3>
      
        <!-- Supporters Row 1 -->
        <div class="row justify-content-center align-items-center">
          <div class="col-2 supporter-cell"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPD2D8PrMJU71CeowQ-qsJ_0FZcD1ntPCHsA&s" class="supporter-img" alt="Logo 1"></div>
          <div class="col-2 supporter-cell"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRApfaoBj7bx0MIDFIR8YGmuEeIEHVX3c7jTQ&s" class="supporter-img" alt="Logo 2"></div>
          <div class="col-2 supporter-cell"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYb44Y8MIrxNBxOimeRKXqa3SxMh24k8tMTQ&s" class="supporter-img" alt="Logo 3"></div>
          <div class="col-2 supporter-cell"><img src="https://nepalcharumati.com.np/wp-content/uploads/2023/07/cropped-cropped-nepalcharumati10logo.jpg" class="supporter-img" alt="Logo 4"></div>
          <div class="col-2 supporter-cell"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxWnHSPeP6GPtxQ9MUoowh6_OpEFjmLjzx9Q&s" class="supporter-img" alt="Logo 5"></div>
        </div>
      
        <!-- Supporters Row 2 -->
        <div class="row justify-content-center align-items-center mt-3">
            <div class="col-2 supporter-cell"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPD2D8PrMJU71CeowQ-qsJ_0FZcD1ntPCHsA&s"
                    class="supporter-img" alt="Logo 1"></div>
            <div class="col-2 supporter-cell"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRApfaoBj7bx0MIDFIR8YGmuEeIEHVX3c7jTQ&s"
                    class="supporter-img" alt="Logo 2"></div>
            <div class="col-2 supporter-cell"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYb44Y8MIrxNBxOimeRKXqa3SxMh24k8tMTQ&s"
                    class="supporter-img" alt="Logo 3"></div>
            <div class="col-2 supporter-cell"><img
                    src="https://nepalcharumati.com.np/wp-content/uploads/2023/07/cropped-cropped-nepalcharumati10logo.jpg"
                    class="supporter-img" alt="Logo 4"></div>
            <div class="col-2 supporter-cell"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxWnHSPeP6GPtxQ9MUoowh6_OpEFjmLjzx9Q&s"
                    class="supporter-img" alt="Logo 5"></div>
            </div>
      </div>

    <!-- Supporter End -->

    <!--  FOOTER START -->
    <section class="dark-bg footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-30 mb-lg-0">
                    <h3>Palpa Cycling Association</h3>
                    <p> With a mission to improve lives through bicycling we teach the joys of bicycling - advocate for safe places to ride.</p>
                    <ul class="footer_address">
                        <li><i class="fa fa-home"></i> Tansen, Palpa</li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:info@palpacycling.org.np">info@palpacycling.org.np</a></li>
                    </ul>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3 footer_column mb-30 mb-lg-0">
                    <h3>Upcoming Event</h3>
                    <ul>
                        <li><a href="#">The Ultimate Tour</a></li>
                        <li><a href="#">Race on Road Challange</a></li>
                        <li><a href="#">City Championship</a></li>
                        <li><a href="#">Special Max Classic</a></li>
                    </ul>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3 footer_column mb-30 mb-lg-0">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our News</a></li>
                        <li><a href="#">Events & Schedule</a></li>
                        <li><a href="#">Contact Today</a></li>
                    </ul>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3 footer_column mb-lg-0">
                    <h3>Gallery</h3>
                    <div class="rdn_gallery">
                        <div class="gallery_inner">
                            <a href="img/background/1.jpg" data-gallery="gallery" data-width="90%" data-title="Enjoy the ride."
                                data-description="Riders from all over country have registered for the inaugural event.">
                                <img src="img/background/1.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                        <div class="gallery_inner">
                            <a href="img/background/2.jpg" data-gallery="gallery" data-width="90%">
                                <img src="img/background/2.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                        <div class="gallery_inner">
                            <a href="img/background/3.jpg" data-gallery="gallery" data-width="90%">
                                <img src="img/background/3.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                        <div class="gallery_inner">
                            <a href="img/background/4.jpg" data-gallery="gallery" data-width="90%">
                                <img src="img/background/4.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                        <div class="gallery_inner">
                            <a href="img/background/5.jpg" data-gallery="gallery" data-width="90%">
                                <img src="img/background/5.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                        <div class="gallery_inner">
                            <a href="img/background/6.jpg" data-gallery="gallery" data-width="90%">
                                <img src="img/background/6.jpg" class="gallery_popup" alt="gallery" />
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-3 -->
            </div>
            <!-- /.row -->
            <div class="divider_footer"></div>
            <p>© Copyright 2025 Palpa District Cycling Association. All Rights Reserved. Website by Longtail e-media</p>
        </div>
        <!-- /.container -->
    </section>
    <!-- <jcms:module:footer/> -->
    <!-- /.content -->
    <!--  FOOTER END -->
    <jcms:module:popup/>
    <div class="scrollToTopBtn"><i class="fas fa-arrow-up"></i></div>

    <!-- JAVASCRIPT -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/swiper-bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scrollCue.min.js"></script>
    <script src="js/slideanimation.js"></script>
    <script src="js/vanilla-counter.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/vanilla-tilt.min.js"></script>
    <script src="js/typewriter-effect.js"></script>
    <script src="js/script.js"></script>

    <script type="text/javascript">
        window.onload = function(){
            var popup = document.getElementById('exampleModal2');
            var closebtn = document.getElementById('popupClose2');
            popup.classList.add('show');
            popup.style.display = 'block';
            closebtn.addEventListener('click',function(){
                popup.classList.remove('show');
                popup.style.display = 'none';
            })
        }
    </script>
    <!-- <script type="text/javascript">
        $(document).ready(function () {
            $("#modal-popup-video").modal('show');
            $('#modal-popup-video').on('hidden.bs.modal', function () {
                $("#modal-popup-image").modal('show');
                console.log("video closed")
                $("#modal-popup-video iframe").attr("src", "");
            });
            if ($('#modal-popup-video')[0]) {
                $("#modal-popup-image").modal('hide');  
            } else {
                $("#modal-popup-image").modal('show');
            }
    
    
    
            const myModal = new bootstrap.Modal('#modal-popup-image');
            myModal.show();
            
            const carousel = new bootstrap.Carousel('#myCarousel')
        });
    </script> -->
    <script>
        const swiper = new Swiper('.swiper', {
            speed: 800,
            loop: false,
            spaceBetween: 30,
            slidesPerView: 1,
            centeredSlides: true,
            autoplay: {
                delay: 6000,
                disableOnInteraction: false
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

    });
    </script>
    <script>
        const swiperVideo = new Swiper('.swiper-video', {
            spaceBetween: 30,
            slidesPerView: 1,
            centeredSlides: true,
            autoplay: false,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

        });
    </script>

    <!-- Script to show sticky navbar on scroll -->
    <script>
        const stickyNavbar = document.getElementById("stickyNavbar");
        const mainHeader = document.getElementById("mainHeader");

        window.addEventListener("scroll", () => {
            if (window.scrollY > mainHeader.offsetHeight) {
                stickyNavbar.classList.add("active");
            } else {
                stickyNavbar.classList.remove("active");
            }
        });
    </script>
</body>
</html>