<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palpa District Cycling Association </title> -->
    <jcms:site:seotitle/>
    <jcms:site:favicon/>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/phospor-icon.css">
    <link rel="stylesheet" href="css/scrollCue.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- NAVIGATION -->
    <jcms:module:header/>
    <!-- NAVIGATION END -->

    <!-- <section id="hero" class="about-top">
        <div class="container about_inner">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h1 class="hero_title" data-cue="slideInUp" data-delay="400">
                        Events
                    </h1>
                </div>
                <!-- /.col-lg-6 offset-3 --
            </div>
            <!-- /.row --
        </div>
        <!-- /.container --
        <div class="mask mask_dark"></div>
    </section> -->
    <!-- /#hero.about2 -->

    <!--  EVENTS CONTENT -->
    <!-- <section id="events" class="content clearfix">
        <div class="container">
            <div class="row event_box">
                <div class="col-lg-4 align-self-center mb-30 event_outer col-md-6">
                    <div class="events_item">
                        <div class="event_top">
                            <div class="top_icon">
                                <a href="event.html">
                                    <img src="img/events/event1.jpg" alt="images">
                                </a>
                            </div>
                            <!--top_icon--
                        </div>
                        <!--event_top--
                        <div class="bottom_text">
                            <h3><a href="event.html">The Ultimate Tour</a></h3>
                        </div>
                        <!--bottom_text--
                    </div>
                    <!-- /.events_item --
                </div>
                <!-- col-lg-4 --

                <div class="col-lg-4 align-self-center mb-30 event_outer col-md-6">
                    <div class="events_item">
                        <div class="event_top">
                            <div class="top_icon">
                                <a href="event.html">
                                    <img src="img/events/event2.jpg" alt="images">
                                </a>
                            </div>
                            <!--top_icon--
                        </div>
                        <!--event_top--
                        <div class="bottom_text">
                            <h3><a href="event.html">The Ultimate Tour</a></h3>
                        </div>
                        <!--bottom_text--
                    </div>
                    <!-- /.events_item --
                </div>
                <!-- col-lg-4 --

                <div class="col-lg-4 align-self-center mb-30 event_outer col-md-6">
                    <div class="events_item">
                        <div class="event_top">
                            <div class="top_icon">
                                <a href="event.html">
                                    <img src="img/events/event3.jpg" alt="images">
                                </a>
                            </div>
                            <!--top_icon--
                        </div>
                        <!--event_top--
                        <div class="bottom_text">
                            <h3><a href="event.html">City Chanpionship</a></h3>
                        </div>
                        <!--bottom_text--
                    </div>
                    <!-- /.events_item --
                </div>
                <!-- col-lg-4 --
            </div>
            <!-- /.row event_box --
        </div>
        <!---container--
    </section> -->
    <jcms:module:package-events/>

    <!--  FOOTER START -->
    <jcms:module:footer/>
    <!-- /.content -->
    <!--  FOOTER END -->

    <div class="scrollToTopBtn"><i class="fas fa-arrow-up"></i></div>
    <!-- TESTIMONIAL END -->

    <!-- JAVASCRIPT -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/swiper-bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scrollCue.min.js"></script>
    <script src="js/slideanimation.js"></script>
    <script src="js/vanilla-counter.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/vanilla-tilt.min.js"></script>
    <script src="js/typewriter-effect.js"></script>
    <script src="js/script.js"></script>
</body>
</html>