<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palpa District Cycling Association </title>
    <link rel="shortcut icon" href="img/favicon.png"> -->
    <jcms:site:seotitle/>
    <jcms:site:favicon/>
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/phospor-icon.css">
    <link rel="stylesheet" href="css/scrollCue.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- NAVIGATION -->
    <jcms:module:header/>
    <!-- NAVIGATION END -->

    <!-- EVENTS SLIDER END -->
    <!-- <section id="events-slider" class="overflow-hidden pt-100">
        <div class="container">
            <div class="row align-content-center mb-100 mt-100">
                <div class="col-lg-6 align-self-center mb-30 mb-lg-0">
                    <h2 class="rdn_title mb-0" data-cue="slideInUp" data-delay="200">Heritage Ride 2081</h2>
                </div>
                <!-- col-lg-6 --

                <div class="col-lg-6 align-self-end">
                    <p class="rdn_boldtext">Riders from all over country have registered for the inaugural event Many will be staying in our club over the weekend boosting tourism and bringing considerable economic benefits to the local region.</p>
                </div>
                <!-- col-lg-6 --
            </div>
            <!--row--
        </div>
        
        <div class="container events_main_slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/events/single1.jpg" alt="">
                </div>
                <!-- ./swiper-slide --

                <div class="swiper-slide">
                    <img src="img/events/single2.jpg" alt="">
                </div>
                <!-- ./swiper-slide --

                <div class="swiper-slide">
                    <img src="img/events/single3.jpg" alt="">
                </div>
                <!-- ./swiper-slide --

                <div class="swiper-slide">
                    <img src="img/events/single4.jpg" alt="">
                </div>
                <!-- ./swiper-slide --

            </div>
            <!--swiper-wrapper--
        </div>
    </section>
    <!-- EVENTS SLIDER END --

    <!--  EVENTS CONTENT --
    <section id="events" class="content clearfix">
        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <ul class="single_event_list gray-bg list-unstyled">
                        <li><i class="ph-map-pin-bold"></i> Tansen, Palpa, Nepal</li>
                        <li><i class="ph-calendar-blank-bold"></i> 14 September 2024</li>
                        <li><i class="ph-clock-afternoon-bold"></i> 08.00 AM - 01.00 PM</li>
                        <li><i class="ph-user-circle-bold"></i> All Member Allowed</li>
                    </ul>
                </div>
                <!-- col-lg-3 --
                <div class="col-lg-8 offset-lg-1">
                    <p class="rdn_boldtext">Laboriosam sit iusto, eveniet veritatis illo a ex itaque ullam 
                        molestiae inventore repudiandae corporis laborum cumque porro obcaecati voluptatum amet numquam assumenda non. 
                    </p>
                    <p>
                        Dolores facere voluptas fugit numquam. Impedit sequi, 
                        magni quos excepturi cum odit saepe, assumenda voluptatibus quasi voluptas nemo iusto. Minima aspernatur temporibus illo, dolorem 
                        rerum exercitationem facere nesciunt magni dignissimos molestias est tempore molestiae asperiores reiciendis ipsum.
                    </p>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="rdn_list">
                                <li>
                                    They shall in a Term of four Years.
                                </li>
                                <li>
                                    A narrow wedge of light from  framed a heap.
                                </li>
                                <li>
                                    State from which he fled hall be liable.

                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-6">
                            <ul class="rdn_list">
                                <li>
                                    If any Bill shall be entered.
                                </li>

                                <li>
                                    Representatives and direct Taxes.
                                </li>

                                <li>
                                    Majority of each State.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row --
                </div>
                <!-- col-lg-8 --
            </div>
            <!-- row --
        </div>
        <!---container--
    </section> -->
    <jcms:module:subpkg-content/>
    <!-- /.content clearfix -->

    <!--  FOOTER START -->
    <jcms:module:footer/>
    <!-- /.content -->
    <!--  FOOTER END -->

    <div class="scrollToTopBtn"><i class="fas fa-arrow-up"></i></div>
    <!-- TESTIMONIAL END -->

    <!-- JAVASCRIPT -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/swiper-bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scrollCue.min.js"></script>
    <script src="js/slideanimation.js"></script>
    <script src="js/vanilla-counter.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/vanilla-tilt.min.js"></script>
    <script src="js/typewriter-effect.js"></script>
    <script src="js/script.js"></script>
</body>
</html>