<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <jcms:site:seotitle/>
    <jcms:site:favicon/>
    <title>Palpa District Cycling Association </title>
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/phospor-icon.css">
    <link rel="stylesheet" href="css/scrollCue.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- NAVIGATION -->
    <jcms:module:header/>
    <!-- NAVIGATION END -->

    <!-- <section id="hero" class="blog-top" style="background-image: url(../img/blog/blog-bg.jpg);">
        <div class="container blog_inner">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <h1 class="hero_title" data-cue="slideInUp" data-delay="400">
                        Our Team Members
                    </h1>
                </div>
                <!-- /.col-lg-6 offset-3 --
            </div>
            <!-- /.row --
        </div>
        <!-- /.container --
        <div class="mask mask_dark"></div>
    </section> -->
    <jcms:module:teams-bread/>
    <!-- /#hero.blog-top -->

    <!-- MEMBER START -->
    <!-- <section id="team" class="team gray-bg content">
        <div class="container">
            <div class="row" data-cues="slideInUp">
                <div class="col-lg-3 col-md-6 mb-30 mb-lg-0">
                    <div class="team_box">
                        <img src="img/events/event1.jpg" alt="image">
                    </div>
                    <div class="team_desc">
                        <h3 class="mb-0">John Doe</h3>
                        <p class="mb-0">Member</p>
                    </div>
                </div>
                <!-- /.col-lg-3 --

                <div class="col-lg-3 col-md-6 mb-30 mb-lg-0">
                    <div class="team_box">
                        <img src="img/events/event1.jpg" alt="image">
                        <ul class="team_sc">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_desc">
                        <h3 class="mb-0">John Doe</h3>
                        <p class="mb-0">Member</p>
                    </div>
                </div>
                <!-- /.col-lg-3 --

                <div class="col-lg-3 col-md-6 mb-30 mb-lg-0">
                    <div class="team_box">
                        <img src="img/events/event5.jpg" alt="image">
                        <ul class="team_sc">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_desc">
                        <h3 class="mb-0">John Doe</h3>
                        <p class="mb-0">Member</p>
                    </div>
                </div>
                <!-- /.col-lg-3 --

                <div class="col-lg-3 col-md-6 mb-30 mb-lg-0">
                    <div class="team_box">
                        <img src="img/events/event5.jpg" alt="image">
                        <ul class="team_sc">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team_desc">
                        <h3 class="mb-0">John Doe</h3>
                        <p class="mb-0">Member</p>
                    </div>
                </div>
                <!-- /.col-lg-3 --
            </div>
            <!-- /.row --
        </div>
        <!-- /.container --
    </section> -->
    <jcms:module:teams-main/>
    <!-- /#team.team gray-bg -->
    <!-- MEMBER END -->

    <!--  FOOTER START -->
    <jcms:module:footer/>
    <!-- /.content -->
    <!--  FOOTER END -->

    <div class="scrollToTopBtn"><i class="fas fa-arrow-up"></i></div>
    <!-- TESTIMONIAL END -->

    <!-- JAVASCRIPT -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/swiper-bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scrollCue.min.js"></script>
    <script src="js/slideanimation.js"></script>
    <script src="js/vanilla-counter.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/vanilla-tilt.min.js"></script>
    <script src="js/typewriter-effect.js"></script>
    <script src="js/script.js"></script>
</body>
</html> 